<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/base}">
<head>
<title>Inici - SAPE</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/acces.css"
	th:href="@{/css/acces.css}" />
<link rel="stylesheet" type="text/css" href="/css/alumne.css"
	th:href="@{/css/alumne.css}" />
<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
<link
	href="https://fonts.googleapis.com/css?family=Aclonica|Bungee+Inline"
	rel="stylesheet" />
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="col-md-12">
				<div class="row justify-content-center">
					<div class="col-12">
						<p>En aquest apartat pots veure les ofertes de les empreses
							per al grau d'Enginyeria Informàtica, si encara no tens cap
							pràctica assignada.</p>
						<div class="row justify-content-center">
							<div class="col-12">
								<a href="ofertes.html" class="btn btn-info btn-md "
									role="button">Veure ofertes</a>
							</div>
						</div>


					</div>
					<div th:if="${oferta} != null" class="row justify-content-center">
						<div class="col-10">
							<h2>Pràctica assignada</h2>
							<form action="#" th:action="@{index.html}" th:object="${asignacio}"
								method="post">
								<table class="table">
									<tr>
										<th>Títol:</th>
										<td th:text="${oferta.titulo}"></td>
									</tr>
									<tr>
										<td><label>Descripció:</label></td>
 										<td th:text="${oferta.descripcion}"></td>
 									</tr>
									<tr> 
 										<td><label>Nom de l'empresa:</label></td>
 										<td th:text="${oferta.empresa}"></td>
 									</tr>
 									<tr> 
										<td><label>Encarregat de l'empresa:</label></td> 
 										<td th:text="${oferta.persona_de_contacto}"></td>
 									</tr>
 									<tr> 
 										<td><label>Sou:</label></td>
 										<td th:text="${oferta.pago} + '€'"></td> 
 									</tr> 
									<tr>
										<th>Estat:</th>
										<td th:text="${asignacio.estado}"></td>
									</tr>
									<tr th:if="${asignacio.estado} == 'rechazada'">
										<th>Data de solicitut de canvi:</th>
										<td th:text="${#dates.format(asignacio.fecha_peticion_cambio, 'dd MMM yyyy')}"></td>
									</tr>
									<tr th:if="${asignacio.estado} == 'rechazada'">
										<th>Comentari de solicitut de canvi:</th>
										<td th:text="${asignacio.comentario_peticion_cambio}"></td>
									</tr>
									<tr th:if="${asignacio.estado} == 'pendiente'">
										<th>Comentari de solicitut de canvi:</th>
										<td><textarea class="form-control z-depth-1" rows="3"
												th:field="*{comentario_peticion_cambio}"></textarea></td>
									</tr>
								</table>
								<div th:if="${asignacio.estado} == 'Pendent'" class="row justify-content-between">
									<div class="col-3">
										<a
											th:href="@{aceptar.html}"
											class="btn btn-success btn-md btn-block" role="button">Aceptar</a>
									</div>
									<div class="col-3">
										<input
											type="submit" value="Solicitar canvi"
											class="btn btn-danger btn-md " role="button" />
									</div>
								</div>
							</form>

						</div>
						<h2 th:if="${asignacio} == null">Encara no tens pràctiques
							assignades.</h2>
					</div>
				</div>
			</div>
			<p>
				<a href="/eixida.html" class="btn btn-outline-primary btn-block"
					role="button">Eixir de l'aplicació</a>
			</p>
		</div>
	</div>
</body>
</html>