<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/base}">
<head>
<title>SAPE - Ofertes per alumne</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/acces.css"
	th:href="@{/css/acces.css}" />
<link rel="stylesheet" type="text/css" href="/css/alumne.css"
	th:href="@{/css/alumne.css}" />
<link
	href="https://fonts.googleapis.com/css?family=Aclonica|Bungee+Inline"
	rel="stylesheet" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div layout:fragment="content">
	
		<div class="row justify-content-between">
			<div class="col-3">
				
			</div>
			<div class="col-3">
			</div>
			<div class="col-3">
				<a href="/eixida" class="btn btn-outline-primary btn-block"
					role="button">Eixida</a>
			</div>
		</div>
		<div class="container">
			<div class="col-lg-12">
				<div class="row justify-content-center">
					<div class="col-10">
						
						<form action="#" th:action="@{./eleccio_semestre}"
							th:object="${semestre}" method="post">
							<h2>Selecciona el sementre de les pràctiques</h2>
							<div class="table-responsive">
								<table class="table table-striped">
									<tr>
										<th>Semestre:</th>
										<td><select th:field="*{semestre_inicio_instancia}">
												<option value="1" >Primer Semestre</option>
												<option value="2" >Segon Semestre</option>
										</select></td>
									</tr>
									<tr>
										<th>Preferéncia:</th>
										<td>
										<input class="btn btn-success btn-md btn-block"
											type="submit" value="Aplicar preferencia" role="button" />
										</td>
										
									</tr>

								</table>

							</div>
						</form> 
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
