<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Sistema de Assignació de Projectes en Empreses. - Access</title>
     <meta charset="UTF-8" />
   <meta http-equiv="Refresh" content="4;url=/" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
    <h3>No disposes d'acces aquesta pàgina, vosté será redireccionat a la página d'inici.</h3>
    <h4><a href="/">Polsa açí per a dirigir-te a la página inicial.</a></h4>
</body>
</html>