<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Gestión de las revisiones</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Añadir revisión</h2>
    <form action="#" th:action="@{/revision/add}" 
                     th:object="${revision}" method="post"> 
      <table>
        <tr>
            <td><label>CIF</label></td>
            <td><input type="text" th:field="*{cif}" /></td> 
        </tr>
        <tr>
            <td><label>Id de la oferta</label></td>
            <td><input type="number" th:field="*{id}" /></td>
        </tr>
                <tr>
            <td><label>Id de la oferta de practicas</label></td>
            <td><input type="number" th:field="*{id_oferta}" /></td>
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><input type="text" th:field="*{descripcion}" /></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Añadir revision" /></td>
        </tr>
      </table>
    </form>
     <a href="../index.html">INICIO</a>
</body>
</html>